.footer {
    background: white;
    border-top: 0.5px solid gray;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    width: 98%;
    p {
      color: black;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  
  .footer-entity {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 1rem;
    border-left: 1px solid lightgray;
    padding-left: 2rem;
  }
  
  .footer-title {
    font-size: 1rem;
    color: #38BFFC;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
  .footer-link {
      color: #38BFFC;
      text-decoration: none;
    transition: color 0.5s ease;
    &:hover {
      color: #38BFFC;
    }
  }
  
  .img-footer {
  background-image: url(https://taskdev.mile.app/69ece7b1819e760b63623e810922b59e.png);
  width: 13rem;
    height: 3.5rem;
    background-size: cover;
    border: 0px;
    transform: scale(1.4);
    margin-right: 50px;
    margin-top: 15px;
  }
  
  .footer-caption {
    color: lightgray;
    width: 300px;
    word-wrap: normal;
    text-align: start;
  }
  
  @media (max-width: 799px) and (min-width: 449px) {
    .img-footer {
  width: 16rem;
    height: 3.6rem;
    margin-right: 10px;
    margin-left: 30px;
        
      transform: scale(1.1);
    }
  }
  
  @media (max-width: 450px) {
    .img-footer {
        width: 100%;
        height: 3.3rem;
    margin-top: 15px;
    margin-right: 1px;
    transform: scale(1);
    }
    .footer-caption {
      width: 200px;
      font-size: 10px;
    }
    .footer-title {
      font-size: 10px;
    }
  }
  
  @media (max-width: 330px) {

    .img-footer {
        width: 100%;
        height: 2.4rem;
    margin-top: 20px;
    margin-right: 1px;
    margin-left: 3px;
    transform: scale(1);
    }
    .footer-caption {
      width: 100px;
      font-size: 8px;
    }
    .footer-title {
      font-size: 8px;
    }
  }