@keyframes ldio-zexca91ny4c {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.84, 1.84);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-zexca91ny4c div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  animation: ldio-zexca91ny4c 1s linear infinite;
}
.ldio-zexca91ny4c div:nth-child(1) > div {
  left: 77px;
  top: 44px;
  animation-delay: -0.875s;
}
.ldio-zexca91ny4c > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 83px 50px;
}
.ldio-zexca91ny4c div:nth-child(2) > div {
  left: 67px;
  top: 67px;
  animation-delay: -0.75s;
}
.ldio-zexca91ny4c > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 73px 73px;
}
.ldio-zexca91ny4c div:nth-child(3) > div {
  left: 44px;
  top: 77px;
  animation-delay: -0.625s;
}
.ldio-zexca91ny4c > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 83px;
}
.ldio-zexca91ny4c div:nth-child(4) > div {
  left: 21px;
  top: 67px;
  animation-delay: -0.5s;
}
.ldio-zexca91ny4c > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 27px 73px;
}
.ldio-zexca91ny4c div:nth-child(5) > div {
  left: 11px;
  top: 44px;
  animation-delay: -0.375s;
}
.ldio-zexca91ny4c > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 17px 50px;
}
.ldio-zexca91ny4c div:nth-child(6) > div {
  left: 21px;
  top: 21px;
  animation-delay: -0.25s;
}
.ldio-zexca91ny4c > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 27px 27px;
}
.ldio-zexca91ny4c div:nth-child(7) > div {
  left: 44px;
  top: 11px;
  animation-delay: -0.125s;
}
.ldio-zexca91ny4c > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 17px;
}
.ldio-zexca91ny4c div:nth-child(8) > div {
  left: 67px;
  top: 21px;
  animation-delay: 0s;
}
.ldio-zexca91ny4c > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 73px 27px;
}
.loadingio-spinner-spin-pa36e6spqfr {
  width: 22px;
  height: 22px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-zexca91ny4c {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.22);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zexca91ny4c div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
